/* 
    Document   : Portfolio2CSS
    Created on : Jun 18, 2014, 9:58:23 AM
    Author     : Daniel Lee
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

